main {
  display: flex;
  justify-content: center;
}

section.introContainer  {
  position: relative;  
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 1; 
  background-image: linear-gradient(145deg, #e7e8f6, #e7e7f6); 
}

video {
  z-index: 0;
  backdrop-filter: opacity(0.5);
} 

.introNavContainer {
  position: absolute;
  width: 100%; 
  z-index: 3;  
  display: flex;
  justify-content: center;
}

nav.introNav {
  position: absolute;
  width: 100%; 
  z-index: 3;  
  display: flex;
}

span.introNavContainer {
  text-align: center;
  top: 6%;
}

h1.introNavH1 {
  position: absolute;
  z-index: inherit;
  font-size: 35px;
}

ul {
 list-style-type: none;
}

ul a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  z-index: 4;
  display: none;
}

button.joinLink {
padding: 1rem 2rem;
top: 45%; 
width: fit-content;
position: absolute;    
z-index: 2;     
color: black;    
text-decoration: none;    
border-radius: 50px;
background: #e7e7f6;
box-shadow:  20px 20px 60px #a396b3, 
             -20px -20px 60px #ddccf3;          
}  

.joinLink a {
  color: black;    
  text-decoration: none;   
  font-size: 16px;
  font-family: 'Roboto', sans-serif; 
  } 

section.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 60%;
}

p.introLogIn {
  padding-top: 100%;
}

button.introLogInLink a{
  text-decoration: none;  
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: green;
  font-weight: bolder;
  border-radius: 50px;
  padding-top: 5%;
}

button.introLogInLink {
  border: transparent;
  width: fit-content;
  background: transparent; 
}

footer {
  display: none;
}

/** MEDIA-QUERIES **/

@media (min-width: 668px) {

span.introNavContainer {
  text-align: center;
  top: 8%;
}
  
h1.introNavH1 {
  position: absolute;
  z-index: inherit;
  font-size: 55px;
}  

button.joinLink {
  top: 35%;
}

section.information {
  padding-bottom: unset;
}

.information p {
  width: 80%;
  font-size: 20px;
}

p.introLogIn {
  padding-top: 25%;
  font-size: 25px;
}

button.introLogInLink p{
  padding-bottom: 5%;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
}

@media (min-width: 900px) {

span.introNavContainer {
  text-align: center;
}
    
h1.introNavH1 {
  position: absolute;
  z-index: inherit;
  font-size: 55px;
  padding-top: 10%;
}

h1.introNavH1 {
  font-size: 55px;
}

ul.introNavUl a{
  color: black;
  font-family: 'Roboto', sans-serif;
}

ul.aboutSection a{
  color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: line-through;
}

.introNav ul.aboutSection a {
  position: absolute;
  left: 10%;
  display: flex;
  text-align: center;
  padding: 8px;
}

.introNavContainer svg {
  display: unset;
  width: 80px;
  height: auto;
}

.introNav ul.introNavUl {
  position: absolute;
  right: 10%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
  padding: 0px;
}
.introNav li {
  width: fit-content;
}
.introNav li a {
  display: block;
  padding: 8px;
  width: fit-content;
}
.introLoginMember {
  display: none;
}
button.joinLink {
  display: none;
}
Footer {
  display: flex;
}
}
